@inherits LayoutComponentBase

<div id="main">
    <NavMenu />
    <div class="content px-4">
        @Body
    </div>
    <footer>
        <div class="container">
            <p class="text-muted">
                Strims.gg
                <br />
                By <a href="#">memers</a> on <a href="#">Discord</a>
                <br />
                Support us via Github
                <br />
                <a href="/chat">Chat</a>
                &nbsp; &bull; &nbsp;
                <a href="/api">API</a>
                &nbsp; &bull; &nbsp;
                <a href="">#1dq215</a>
            </p>
        </div>
    </footer>
</div>